apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: citi-bike-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: citi-bike-app
  minReplicas: 1
  maxReplicas: 5 # up to 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50